<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td bgcolor="#015E65"><img src="modules/hoteles/templates/images/header_left.jpg" width="14" height="18"></td>
    <td colspan="2" background="modules/hoteles/templates/images/header_line.jpg" bgcolor="#015E65">$titulohotel</td>
    <td bgcolor="#015E65"><img src="modules/hoteles/templates/images/header_right.jpg" width="11" height="18"></td>
  </tr>
  <tr bgcolor="#E5E0CC">
    <td bgcolor="#F6F5F0"><img src="modules/hoteles/templates/images/fondo_hotel_esq_top_izq.jpg" width="14" height="13"></td>
    <td colspan="2" background="modules/hoteles/templates/images/fondo_hotel_linea_top.jpg" bgcolor="#F6F5F0"><div align="left">$cuerdaameni </div></td>
    <td bgcolor="#F6F5F0"><img src="modules/hoteles/templates/images/fondo_hotel_esq_top_der.jpg" width="11" height="13"></td>
  </tr>
  <tr bgcolor="#E5E0CC">
    <td rowspan="2" background="modules/hoteles/templates/images/fondo_hotel_linea_izq.jpg" bgcolor="#F6F5F0">&nbsp;</td>
    <td bgcolor="#F6F5F0"> $direccion <strong>$descvista</strong></td>
    <td rowspan="2" bgcolor="#F6F5F0">$archivofoto </td>
    <td rowspan="2" background="modules/hoteles/templates/images/fondo_hotel_linea_der.jpg" bgcolor="#F6F5F0">&nbsp;</td>
  </tr>
  <tr bgcolor="#E5E0CC">
    <td bgcolor="#F6F5F0">$descripcion $puedereservar </td>
  </tr>
  <tr bgcolor="#E5E0CC">
    <td background="modules/hoteles/templates/images/fondo_hotel_linea_izq.jpg" bgcolor="#F6F5F0">&nbsp;</td>
    <td colspan="2" bgcolor="#F6F5F0"><div align="center">$textotarifas</div></td>
    <td background="modules/hoteles/templates/images/fondo_hotel_linea_der.jpg" bgcolor="#F6F5F0">&nbsp;</td>
  </tr>
  <tr bgcolor="#E5E0CC" height="10">
    <td valign="top" height="10"  bgcolor="#F6F5F0"><img src="modules/hoteles/templates/images/fondo_hotel_esq_bot_izq.jpg" width="14" height="13"></td>
    <td height="10" colspan="2" background="modules/hoteles/templates/images/fondo_hotel_linea_bot.jpg" bgcolor="#F6F5F0">&nbsp;</td>
    <td height="10" bgcolor="#F6F5F0"><img src="modules/hoteles/templates/images/fondo_hotel_esq_bot_der.jpg" width="11" height="13"></td>
  </tr>
</table>

